@media (max-width: 1200px) {
  /* Nav-bar CSS */
  .avatar {
    display: none;
  }

  .nav-bar-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding: 0;
  }

  .thong-tin {
    grid-column: 2 / 5;
  }

  .ly-lich {
    grid-column: 5 / 8;
  }

  .chung-chi {
    grid-column: 9 / 12;
  }

  .du-an {
    grid-column: 12 / 15;
  }

  /* CSS phần #job-info */
  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #experience-grid {
    grid-column: 1 / span 1;
    grid-row: 1 / 3;
  }

  #education-grid {
    grid-column: 2 / span 1;
    grid-row: 2 / 4;
  }

  #activities-grid {
    grid-column: 2 / span 1;
    grid-row: 1 / 2;
  }

  #hobbies-grid {
    grid-column: 2 / span 1;
    grid-row: 4 / 6;
  }

  #languages-grid {
    grid-column: 1 / span 1;
    grid-row: 5 / 7;
  }

  #skills-grid {
    grid-column: 1 / span 1;
    grid-row: 3 / 5;
  }

  #job-info {
    margin: 20px 150px;
  }

  /* CSS phần #certificate */
  #certificate {
    padding: 0 40px;
  }

  .certificate-item {
    display: inline-block;
  }

  .certificate-item img {
    width: 100%;
    padding: 10px;
  }

  /* CSS phần #project */
  #project {
    padding: 20px 100px;
  }

  /* CSS phần nâng cao */
  .project-charter-container {
    display: block;
  }

  .goal-detail {
    display: block;
  }

  .team-detail {
    display: block;
  }

  .primary-detail {
    display: block;
  }

  .project-charter-container svg {
    margin: 10px 0;
    width: 100%;
  }

  .scope-detail {
    display: block;
  }

  .timeline-detail {
    display: block;
    margin: 20px;
  }

  .timeline-content {
    display: block;
    margin: 20px 0;
  }

  .timeline-number {
    margin: 0;
  }
}
